
.site {
    
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 18px;
}

p {
    margin: 12px 0px;
    text-align: left;
}

h2 {
    margin: 12px 0px;
    text-align: left;
}