.bio {
    padding: 30px;
    margin: 20px 20px 40px 40px;
    background-color: white;
    border-radius: 10px;


}

.site {
    padding: 30px;
    margin: 20px 20px 40px 40px;
    background-color: white;
    border-radius: 10px;

}

p {
    margin: 10px 10px 10px 10px;

}