.review {
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
  }

.review h2 {
  margin: 20px auto;

}

p.body {
  max-width: 800px;
  padding: 0 0px 0px 300px;
}


  .body {
    margin: auto;
    text-align: left;
    line-height: 1.5em;
  }

.image{
  max-width: 300px;
  max-height: 60px;
}